@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import "./styling/list_video.css";

body {
    font-family: "Roboto", sans-serif;
}

*::before,
*::after,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#sidebar {
    width: 250px;
    top: 0;
    overflow: hidden;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #333;
    color: #fff;
    transition: all 0.3s;
    white-space: nowrap;
}
