.list_video_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    grid-gap: 10px;
    justify-content: center;
}

.list_video_item {
    border: 1px solid black;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 3px;
}

.list_video_description {
    display: flex;
    width: 100%;
}

.list_video_status {
    position: absolute;
    top: 3%;
    left: 3%;
    padding: 5px;
    border-radius: 5px;
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    font-weight: bold;
    color: white;
}
.list_video_viewers {
    position: absolute;
    top: 45%;
    left: 3%;
    padding: 5px;
    border-radius: 5px;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: white;
    opacity: 0.8;
}

.list_video_tags {
    margin-right: 5px;
    margin-top: 5px;
    padding: 7px;
    background: gray;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
}
